* {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3 {
    font-weight: bolder;
    margin: 10px;
}

body {
    background-color: #4ea9d3;
    margin-top: 100px; 
}

p{
    font-weight: bold;
}

a{
    text-decoration: none;
}

a:hover {
    display: block;
    transform: scale(1.05); 
}

ul li {
    list-style: none;
    padding: 5px;
}

header {
     background-color: #de933b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1;
    top: 0;
    position: fixed;
    width: 100%;
    overflow: hidden; 
}

header .logo {
    position: absolute;
    width: 8%;
    left: 50%;
    transform: translateX(-50%);
}

label {
    display: none;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 10px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #4ea9d3;
    border-radius: 25px;
}

button {
    background-color: #4ea9d3;
    border: solid 3px #fff;
    border-radius: 7px;
    padding: 10px;
    transition: .3s ease-in-out;
}

button:hover {
    background-color: #de933b;
    border: none;
    border: solid 3px #de933b;
    transform: scale(1.2); 
}

.galeria {
    width: 100%;
    overflow: hidden;
    box-shadow: 4px 4px 15px #000;
    margin: 20px auto;
}

.imagens {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.galeria .imagens img {
    width: 100%;
    height: 100%;
}

.navegacao span{
    position: absolute;
    background-color: transparent;
    border: solid 3px #de933b;
    width: 15px;
    height: 17px;
    margin: 10px;
    color: #f0f0ff;
    padding: 10px;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.navegacao span:hover{
    background-color: #de933b;
    transform: scale(1.1);
}

#proximo{
    top: 50%;
    transform: translateY(-50%);
    right:5px;
}


#anterior{
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

.introducao{
    text-align: center;
    width: 95%;
    margin: auto;
}

#nos{
    margin-top: 10%;
}

.containere, .containerd {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

.containere section{
    width: 50%;
}

.containere .texto {
    text-align: rifht;
    margin: 5%;
}

.containere img{
    border: solid 5px #fff;
    border-radius: 10%;
    width: 80%;
}

.containere h1{
    font-size: xx-large;
}

.containere h3, p{
    text-align: right;
    font-size: large;
}

.containere h3 {
    font-size: x-large;
}


.containerd section{
    width: 50%;
}

.containerd .texto {
    text-align: rifht;
    margin: 5%;
}

.containerd img{
    border: solid 5px #fff;
    border-radius: 10%;
    width: 80%;
}

.containerd h1{
    font-size: xx-large;
}

.containerd h3, p{
    text-align: right;
    font-size: large;
}

.vantagens p, .vantagens h2{
    text-align: start;
}

.vantagens{
    margin: 10px;
}

.vantagens p{
    padding: 20px;
}

.plano{
    display: flex;
    justify-content: center;
    text-align: center;
}

.plano section{
    width: 25%;
}

.plano img{
    width: 90%;
    border: solid 5px #fff;
    border-radius: 10%;
}

.containerd h3 {
    font-size: x-large;
}

#servicos {
    text-align: left;
    margin-left: 5%;
    margin-top: 10%;
}
  
.servicos {
    display: flex;
    justify-content: center;
    text-align: center;
}

.servicos section{
    width: 25%;
    margin: 50px;
}

.servicos img{
    width: 90%;
    border: solid 5px #fff;
    border-radius: 10%;
}

.servicos button {
    margin: 5%;
}

.sobre{
    display: flex;
    justify-content: center;
    text-align: center;
}

.sobre form {
    max-width: 500px;
    padding: 20px;
    border-radius: calc(5px + 0px);
  }
  
  input {
    border: 1px solid #ccc;
    width: 45%;
  }
     
  textarea{
    width: 100%;
  }

  input,
  textarea {
    outline: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: #4ea9d3;
    font-weight: bold;
  }

  input::placeholder,textarea::placeholder {
    color: #de933b;
    font-weight: bolder;
  }

  .botao-whatsapp {
    border: solid;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: .3s ease-in-out;
  }

  .botao-whatsapp:hover {
    background-color: #de933b;
    border: none;
    border: solid 3px #de933b;
}

.sobre section {
margin: 50px;
}

.sobre #p {
margin: 20px;
text-align: center;
font-weight: bold;
}

.sobre button{
width: 70%;
}

footer {
background-color: #de933b;
padding: 4%;
}

footer p{
    font-size: medium;
    margin: 15px;
}

.social ul{
list-style: none;
margin: 15px;
}

.social ul li {
display: inline-block;
margin-right: 10px;
}

.social i{
    font-size: 25px;
}

.social i:hover{
    transform: scale(1.2);
}
